<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/Login and Registration/style.css" />
    <link rel="stylesheet" href="preview.css" />
    <title>Preview</title>
  </head>
  <body>
    <div
      class="container-fluid d-flex flex-column justify-content-around align-items-center mt-5 preview"
    >
      <video
        style="border-radius: 15px; border: 1px solid #473764"
        ;
        id="video"
        width="640"
        height="480"
        autoplay
      ></video>
      <div class="main d-flex justify-content-center align-items-center mt-3">
        <input class="mx-2" type="checkbox" name="myCheckbox" value="1" />
        <p class="para mt-3">
          I have read all the instructions and agree to all conditions
        </p>
      </div>
      <div class="btns d-flex justify-content-between">
        <div class="onoff">
          <button
            type="submit"
            id="custom-btn"
            class="btn btn-primary px-3 py-2 custom-btn"
          >
            <a
              style="text-decoration: none; color: white"
              href="/Profile/profile.html"
            >
              <img src="/assets/Microphone.png" alt="" />
            </a>
          </button>
          <button
            type="submit"
            id="custom-btn"
            class="btn btn-primary custom-btn"
          >
            <a
              style="text-decoration: none; color: white"
              href="/Profile/profile.html"
            >
              <img src="/assets/Compact Camera.png" alt="" />
            </a>
          </button>
        </div>
        <button
          type="submit"
          id="custom-btn"
          class="btn btn-primary custom-btn"
        >
          <a
            style="text-decoration: none; color: white"
            href="/Profile/profile.html"
          >
            Start interview
          </a>
        </button>
      </div>
    </div>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script src="preview.js"></script>
  </body>
</html>
