<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="account.css" />
    <link rel="stylesheet" href="/Login and Registration/style.css" />
    <title>Profile</title>
  </head>

  <body>
    <div class="container-fluid my-3 d-flex">
      <!-- LEFT SIDE  -->

      <div
        class="sidebar d-flex flex-column justify-content-center align-items-center"
      >
        <div class="profile-box">
          <img src="/assets/nilesh.jpeg" alt="" />
        </div>
        <button
          type="submit"
          id="proceed"
          class="btn btn-primary mb-4 custom-btn"
        >
          <a
            href="/Login and Registration/OTP/index.html"
            style="text-decoration: none; color: white"
          >
            Edit Profile
          </a>
        </button>
        <h5 class="custom-m py-2 align-self-start">
          <span class="badge"><img src="/assets/User.png" alt="" /></span> Your
          Account
        </h5>
        <h5 class="custom-m content align-self-start">Education</h5>
        <h5 class="custom-m content align-self-start">Experience</h5>
        <h5 class="custom-m content align-self-start">Skills</h5>
        <h5 class="custom-m content align-self-start">Extracurricular</h5>

        <h5 class="custom-m py-2 align-self-start">
          <span class="badge"
            ><img src="/assets/previous-report.png" alt=""
          /></span>
          Previous Report
        </h5>
        <h5 class="custom-m py-2 align-self-start">
          <span class="badge"><img src="/assets/find-job.png" alt="" /></span>
          Find Jobs
        </h5>
        <h5 class="custom-m py-2 align-self-start">
          <span class="badge"><img src="/assets/setting.png" alt="" /></span>
          Settings
        </h5>
        <h5 class="custom-m py-2 align-self-start">
          <span class="badge"><img src="/assets/logout.png" alt="" /></span>
          Logout
        </h5>
      </div>

      <!-- RIGHT SIDE  -->

      <div class="main-c d-flex flex-column justify-content-start">
        <div class="top">
          <h1 class="display-7 text-light">Hello, Nilesh</h1>
          <p class="para mt-0 mb-5 text-light">welcome to your account</p>
        </div>

        <div
          class="bottom "
        >
          <div class="name_box">
            <p class="label">Name</p>
            <p class="fields name">Nilesh Gawli</p>
          </div>
          <div class="email_box">
            <p class="label">Email Id</p>
            <p class="fields email">nbgawli@gmail.com</p>
          </div>
          <div class="mobile_box">
            <p class="label">Mobile Number</p>
            <p class="fields mob_no">8369174779</p>
          </div>
          <div class="about_box">
            <p class="label">About</p>
            <p class="fields about">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Veritatis quod asperiores adipisci, repellat non quo. Excepturi
              minima deleniti libero sed vero, quia a quis nemo. Quaerat
              obcaecati nostrum voluptate eum.
            </p>
          </div>
        </div>
      </div>
    </div>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script src="/Login and Registration/OTP/script.js"></script>
  </body>
</html>
